@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scrollbar-gutter: auto !important;
}

::backdrop {
  background-color: rgb(0 0 0 / 0%);
  backdrop-filter: blur(2px);
  transition:
    display var(--dialog-animation-duration) allow-discrete,
    overlay var(--dialog-animation-duration) allow-discrete,
    background-color var(--dialog-animation-duration);
}
