@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --dialog-animation-duration: 200ms;
    
    /* Light theme (default) */
    --primary-50: #f0f9ff;
    --primary-100: #e0f2fe;
    --primary-200: #bae6fd;
    --primary-300: #7dd3fc;
    --primary-400: #38bdf8;
    --primary-500: #0ea5e9;
    --primary-600: #0284c7;
    --primary-700: #0369a1;
    --primary-800: #075985;
    --primary-900: #0c4a6e;
    --primary-950: #082f49;
    --primary-content: #ffffff;

    --secondary-50: #f8fafc;
    --secondary-100: #f1f5f9;
    --secondary-200: #e2e8f0;
    --secondary-300: #cbd5e1;
    --secondary-400: #94a3b8;
    --secondary-500: #64748b;
    --secondary-600: #475569;
    --secondary-700: #334155;
    --secondary-800: #1e293b;
    --secondary-900: #0f172a;
    --secondary-950: #020617;
    --secondary-content: #ffffff;

    --background: #f0f9ff;
    --foreground: #020617;
  }

  @media (prefers-color-scheme: dark) {
    :root {
      --primary-50: #f0f9ff;
      --primary-100: #e0f2fe;
      --primary-200: #bae6fd;
      --primary-300: #7dd3fc;
      --primary-400: #38bdf8;
      --primary-500: #0ea5e9;
      --primary-600: #0284c7;
      --primary-700: #0369a1;
      --primary-800: #075985;
      --primary-900: #0c4a6e;
      --primary-950: #082f49;
      --primary-content: #f0f9ff;

      --secondary-50: #f8fafc;
      --secondary-100: #f1f5f9;
      --secondary-200: #e2e8f0;
      --secondary-300: #cbd5e1;
      --secondary-400: #94a3b8;
      --secondary-500: #64748b;
      --secondary-600: #475569;
      --secondary-700: #334155;
      --secondary-800: #1e293b;
      --secondary-900: #0f172a;
      --secondary-950: #020617;
      --secondary-content: #020617;

      --background: #0f172a;
      --foreground: #f8fafc;
    }
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

html {
  scrollbar-gutter: auto !important;
}

::backdrop {
  background-color: rgb(0 0 0 / 0%);
  backdrop-filter: blur(2px);
  transition:
    display var(--dialog-animation-duration) allow-discrete,
    overlay var(--dialog-animation-duration) allow-discrete,
    background-color var(--dialog-animation-duration);
}
